out
gen
.hg/
logs
pids
.npm
*.iws
/out/
*.log
*.pid
.idea
.hgsub
*.seed
.grunt
.hgsigs
.hgtags
lib-cov
coverage
.vscode/
.hgignore
.hgsubstate
.nyc_output
node_modules
.lock-wscript
build/Release
jspm_packages
.idea_modules/
npm-debug.log*
.idea/tasks.xml
.idea/libraries
.idea/gradle.xml
.idea/dynamic.xml
fabric.properties
.idea/dictionaries
.node_repl_history
.idea/uiDesigner.xml
.idea/dataSources.ids
.idea/dataSources.xml
crashlytics.properties
.idea/mongoSettings.xml
.idea/sqlDataSources.xml
atlassian-ide-plugin.xml
.idea/jsLibraryMappings.xml
.idea/dataSources.local.xml
crashlytics-build.properties
com_crashlytics_export_strings.xml
